<div class="container">

    @if(pokemonList$|async; as pokemonList) {
    <div class="cards-container">
        @for (item of pokemonList.results; track $index) {
        <app-pokemon-card [name]="item.name" [detailUrl]="item.url" [isIconActive]="isOnUserFav(item.name)" (onAddFavorite)="onUserAdd(item)"></app-pokemon-card>
        }
    </div>
    <mat-paginator (page)="onPageChange($event, pokemonList.next, pokemonList.previous)" [length]="pokemonList.count" [pageSize]="20"></mat-paginator>
    }
</div>